.container {
  max-width: 43.75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 50rem) {
    margin: 0 1rem;
  }
  .logo {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5rem;
    margin-bottom: 0rem;
  }
}

.info {
  display: flex;
  align-items: center;
  height: 1.25rem;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--info);
    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }
    & + p {
      margin-left: 1.5rem;
    }
  }
}

.previewPrismic {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  font-weight: 600;
  width: 100%;
  height: 3.625rem;
  background-color: var(--heading);
  border-radius: 0.25rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
